html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Georgia, serif;
}

#dashboard {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 320px;
  padding: 20px;
  background: #fff0f3;
  border-right: 1px solid #800f2f;
  box-sizing: border-box;
}

#sidebar h2 {
  margin-top: 10%;
}

.sidebar-button {
  font-family: Georgia, serif;
  font-size: 12px;
  padding: 6px 6px;
  cursor: pointer;
}

.subtitle {
  color: #590d22;
  font-size: 14px;
  margin-bottom: 20px;
}

#county-details {
  margin-top: 20px;
  line-height: 1.6;
}

#map {
  flex: 1;
}

.info {
  padding: 8px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}